include LICENSE
include README.md
recursive-include src/strategy_research/templates *.py *.md *.yaml
recursive-include src/strategy_research/templates/.prompts *.md
recursive-include src/strategy_research/templates/.skills *.md
